/*
  Project name(项目名称)：CSS_animation 
  File name(文件名): t4
  Author(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/2/18 
  Time(创建时间)： 14:02
  Version(版本): 1.0
  Description(描述)： 无
 */


@keyframes ball {
    0% {
        left: 0;
    }
    50% {
        left: 90%;
    }
    100% {
        left: 0;
    }
}

div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
    text-align: center;
    line-height: 100px;
    position: relative;
    animation-name: ball;
    animation-duration: 4s;
}

.one {
    animation-delay: 0.5s;
}

.two {
    animation-delay: -0.5s;
}